<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div>
    <div id="bd">
        <h2>About us</h2>
    </div>
    <p>
        LEG & IT Services was founded by LUBEGA USAMA an IT Specialist, Electrical and softwareEngineer in 2017 as the 
        managing Directormainly to over come numberer of challenges 
        that are hindering the field of  Technological Advancement
        and internet by findimg solutions for the above. 
    </p>
    <div id="bb">
        <button><a href="Home.html">Back to Home</a></button>
    </div>
   </div>
   <a href="{% url 'home_page' %}">home</a>
</body>
</html>