<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <div id="og">
        <H2>Our Gallery</H2>
    </div>
    <h3>Laptops</h3>
 <div id="table-div">
    <table>
        <tr>
            <td>
                <img src="images/joshua-woroniecki-lzh3hPtJz9c-unsplash.jpg" width="70%"> 
              </td>
              <td>
                  <img src="images/giorgio-trovato-8krX0HkXw8c-unsplash.jpg" width="70%">
              </td>
              <td>
                  <img src="images/maxim-hopman-Hin-rzhOdWs-unsplash.jpg" width="70%">
              </td>
              <td>
                  <img src="images/yash-menghani-ejLp_lrQvyI-unsplash.jpg"  width="70%">
              </td>
              <td>
                  <img src="images/domenico-loia-hGV2TfOh0ns-unsplash.jpg" width="70%">
              </td>
        </tr>
        <tr>
            <th>
                UGX.1.8m
            </th>
            <th>
                UGX.3.2m
            </th>
            <th>
                UGX.4.5m
            </th>
            <th>
                UGX.2.3m
            </th>
            <th>
                UGX.3m
            </th>
        </tr>
     </table>
 </div>
 <h3>Smart Phones (iphones)</h3>
 <div id="ble-div">
    <table>
        <tr>
            <td>
                <img src="images/images (1).jpg" width="70%">
            </td>
            <td>
                <img src="images/images (2).jpg"  width="70%">
            </td>
            <td>
                <img src="images/images (3).jpg"  width="70%">
            </td>
            <td>
                <img src="images/images (4).jpg"  width="70%">
            </td>
            <td>
                <img src="images/images.jpg"  width="70%">
            </td>
         </tr>
         <tr>
            <th>
                UGX.1.0m
            </th>
            <th>
                UGX.1.2m
            </th>
            <th>
                UGX.860
            </th>
            <th>
                UGX.650
            </th>
            <th>
                UGX.780
            </th>
        </tr>
     </table>
 </div>
</div>
 <div id="bh">
    <h2>Artificial Intelligence and other Products!!.</h2>
    <div id="ble-div">
        <table>
            <tr>
                <td>
                    <img src="images/andrea-de-santis-zwd435-ewb4-unsplash.jpg" width="70%">
                </td>
                <td>
                    <img src="images/gb (1).jpg"  width="70%">
                </td>
                <td>
                    <img src="images/gb (2).jpg"  width="70%">
                </td>
                <td>
                    <img src="images/gb (3).jpg"  width="70%">
                </td>
                <td>
                    <img src="images/gb (4).jpg"  width="70%">
                </td>
             </tr>
             <tr>
                <th>
                    UGX.5.8m
                </th>
                <th>
                    UGX.4.2m
                </th>
                <th>
                    UGX.950
                </th>
                <th>
                    UGX.6.5m
                </th>
                <th>
                    UGX.7.8m
                </th>
            </tr>
         </table>
     </div>
    <button type="button" id="pd"><a href="Home.html">Back to Home</a></button>
 </div>
</body>
<a href="{% url 'home_page' %}">home</a>
</html>