<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEG & IT SERVICES</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="main-content">
    <div id="header-div">
        <div id="title-div">
            <h1>LEG & IT SERVICES</h1>
        </div>
        <div id="menu-div">
            <nav>
                
                <button id="ton"><a href="home.html">Home</a></button>
                <button id="ton"><a href="our  Services.html">Our Services</a></button>
                <button id="ton"><a href="about us.html">About us</a></button>
                <button id="ton"><a href="gallery.html">Gallery</a></button>
                <button id="ton"><a href="contact us.html">Contact Us</a></button>
                
            </nav>
        </div>
    </div>
   <main>
    <section>
        <p>
           You are most welcome to LEG & IT Services, we offer 
           all  necessary assistance within the IT field and
           all requirements concerned with Technological Advancement!  
           Provided to you are the Best up-coming Phone, Top 10 Smart Phones in the year
           2023
        </p>
           <h3 id="om">OUR MISSION</h3>
           <h2>Powering the internet’s visuals</h2>
        <p> 
          How we started? The concept was simple. LEG & IT Services, The idea was startedup due to  the pain we had in 
          accessing the internet, Repairing tools needed for both Computer Hardware and software,Cyber Crimes by Harkers. 
          Today, LEG & IT Services is a truesed platform fuelled by a community due to the upto Services we provide. 
          Without them, none of this would be possible.
        </p>
    </section>
   </main>
   <div id="sec-div">
    <img src="images/images (5).jpg" id="image1" width="30%" >
    <img src="images/images.jpg" id="images" width="30%">
    <img src="images/igm.jpg" id="igm" width="30%">
    <img src="images/blaz-erzetic-g5f0BJq-FRs-unsplash.jpg" id="blaz" width="30%">
    <img src="images/windows-dev-center-ai-dark.png" id="windows" height="50%" width="30%">
    <img src="images/bup.jpg" id="bup" width="30%">
   </div>
<P>
    We also provide upto-date system softwares which are used  in order to boost performance different devices and
    they are Compatible with your operating systems.
</P>
    <footer>
        <p id="pft">&copy; 2023 LUBEGA ELECTRONIC GUDGETS & IT SERVICES </p>
    </footer>
</div>
<a href="{% url 'aboutus_page' %}">aboutus</a>
<a href="{% url 'contactus_page' %}">contactus</a>
<a href="{% url 'gallery_page' %}">gallery</a>
<a href="{% url 'our services_page' %}">our services</a>
</body>
</html>