<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="os">
    <h2>Our Services</h2>
</div>
<p>
    We offer all IT related Services such as computer and Phone repairing both in software
    and Hardware.
</p>
<div id="ser-div">
    <ul>
        <li>Hardware and software Maintainance.</li>
        <li>Smart Phone unlocking and flashing.</li>
        <li>New Laptops all Categories.i.e. hp for different Generations.</li>
        <li>Smart phones both New and Secondhand from Dubai,Japan,China...</li>
        <li>Networking and Camera installation.</li>
        <li>Artificial Interigence.</li>
        <li>Troubleshooting of all Categories</li>
        <li>Electrical Installation.</li>
        <li>Firewall Upgrading.</li>
        <li>Cyber Security.</li>
        <li>Windows Installation, Activation and Update.</li>
</ul>
</div>
<div id="bl">
    <button type="button"><a href="Home.html">Back to Home</a></button>
</div>
</body>
<a href="{% url 'home_page' %}">home</a>
</html>